controller_manager:
  ros__parameters:
    update_rate: 100

    joint_state_broadcaster:
      type: joint_state_broadcaster/JointStateBroadcaster

    # forward_command_controller:
    #   type: forward_command_controller/ForwardCommandController

    position_controller:
      type: position_controllers/JointGroupPositionController

    
position_controller:
  ros__parameters:
    joints:
      - joint1
      - joint2
      - joint3
      - joint4
      - joint5
      - joint6
      - joint7
    interface_name: "position"


 
# forward_command_controller:
#   ros__parameters:
#     joints: ["joint1","joint2","joint3","joint4","joint5","joint6","joint7"]
#     interface_name: "position"

    
    


